@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: #fff;
}

h2 {
  margin: 2em 0 0.75em 0;
}

a,
.green {
  text-decoration: none;
  color: #212121;
  transition: 0.4s;
}

a:hover,
a:focus {
  color: #5865f2;
}

img {
  max-width: 100%;
  height: auto;
}
